<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <div class="card">
        <img class="card-img-top img-thumbnail" src="{{jugador.fotos}}" alt="{{jugador.apellido}} {{jugador.nombre}}">
        <div class="card-body">
          <div> 
            <strong>Lugar:</strong>
            <p>{{jugador.localidad</p>
          </div>
          <div> 
              <strong>Edad:</strong>
              <p>{{jugador.fechaNacimiento}}  CalcularEDAD!!!</p>
          </div>
          <div> 
              <strong>Fecha Ingreso:</strong>
              <p>{{jugador.fechaIngreso}}</p>
          </div>
        </div>
        <div class="card-footer">
          <div class="btn-group d-flex">
            <button class="btn btn-primary w-100">Me Gusta</button>
            <button class="btn btn-success w-100">Mensaje</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-8">
        <div class="tab-panel">
          <!--
          <tabset class = "member-tabset">
            <tab heading = "Sobre {{user?.knownAs}}">
              <h4>Descripcion</h4>
              <p>{{user.introduction}}</p>
              <h4>Buscando</h4>
              <p>{{user.lookingFor}}</p>
            </tab>
            <tab heading = "Intereses">
              <h4>Intereses:</h4>
              <p>{{user.interests}}</p>
            </tab>
            <tab heading = "Fotos">
              <ngx-gallery [options]="galleryOptions" [images]="galleryImages"></ngx-gallery>
            </tab>
            <tab heading = "Mensajes">
              <p>Mensajes irán aquí.</p>
            </tab>
          </tabset>
          -->
        </div>
    </div>
  </div>
</div>